body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: #1a5490;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

header img {
    width: 60px;
    position: absolute;
    left: 20px;
    top: 15px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}



section {
    padding: 40px;
    text-align: center;
}


footer {
    background-color: #1a5490;
    color: white;
    text-align: center;
    padding: 10px;
}